

/* navigation  */
#navbar {
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}
/* home section  */
#home {
    height: 280px;
    padding: 3px 68px;
}

#home::before {
    height: 430px;

}

#home p{
    font-size: 13px;

}

/* services section  */
#services {

    flex-direction: column;
}


#services .box img { 
    height: 112px;
}


#services .box p {
    font-size: 12PX;
}

/* clints section  */
#clints {
    flex-wrap: wrap;
    
}
#clints img{
    width: 83px;
    padding: 0px 18px;
}

/* contact us section  */

#contact-box form {
    width: 80%;
}
/* footer  */

/* utility classes */
.h-prim{
font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
.h-secoundry {
    font-size: 1.4rem;
    
}

/* /footer */
